body {
    background-color: #ccc;
}
input[type="checkbox"] {
    display: none;
}

.container {
    width: 393px;
    height: 852px;
    background-color: white;
    margin: auto;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.nav {
    margin: 0 auto;
    width: 366px;
    height: 55px;
    align-content: center;
}

.ad {
    border: solid 2px rgb(156, 156, 156);
    background-color: #fafbf9;
    border-radius: 10px;
    width: 363px;
    margin: 0 auto;
}

.ad > a {
    text-align: center;
    display: block;
    padding: 20px;
}

.contents {
    padding: 15px;
}

.contents > div {
    padding: 20px 0;
    border-bottom: solid 3px #e9e8e8;
}

.contents ul li {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.contents ul li a {
    width: 80%;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}

.contents ul li img {
    width: 24px;
    height: 24px;
}

.section1 > ul > li > div > label {
    display: block;
    background-color: lightgray;
    width: 43px;
    height: 25px;
    border-radius: 30px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.section1 > ul > li > div > label > div {
    position: absolute;
    background-color: whitesmoke;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(74, 72, 72);
    border-radius: 50%;
    top: 2px;
    right: 22px;
    transition-property: right;
    transition-duration: 0.5s;
}

.section1 > ul > li > div > label,
.section1 > ul > li > div > label > div {
    cursor: pointer;
}

.section1 > ul > li > input[type="checkbox"]:checked ~ div > label {
    background-color: rgb(74, 72, 72);
}

.section1 > ul > li > input[type="checkbox"]:checked ~ div > label > div {
    right: 0;
}
