#container {
    width: 480px;
    margin: 0 auto;
    background-color: cornflowerblue;
}
a{
    color: aliceblue;
}

#header {
    position: relative;
    height: 60px;
    color: aliceblue;

}

#header>#center-menu {
    position: absolute;
    top: 0;
    width: 480px;
    text-align: center;
}

#header>#right-menu {
    position: absolute;
    right: 0;
    top: 0;
}

#sub-header>ul>li {
    float: left;
}

#sub-header>ul>li>a {
    display: block;
    width: 120px;
    padding: 15px 0;
    text-align: center;
    font-size: 0.9rem;
}

#sub-header {
    display: none;
}

#menu:checked~#sub-header {
    display: block;
}
#content{
    padding: 3rem 2rem;
}
#content > p{
    letter-spacing: 0.2rem;
    line-height: 1.6rem;
}
#footer{
    padding: 1.5rem;
    text-align: center;
}
