#app>#basic>#spend {
    background-color: lightcoral;
    color: white;
    text-align: center;
    float: left;
    font-size: 25px;
    width: 80px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 120px;
    margin-top: 3%;
}

#app>#basic>#income {
    background-color: rgb(235, 235, 235);
    color: rgb(150, 140, 140);
    text-align: center;
    float: left;
    font-size: 25px;
    width: 80px;
    border-radius: 10px;
    padding: 5px;
    margin-right: 100px;
    margin-top: 3%;
}