@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'GmarketSansMedium';
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
#container{
  /* background-color: antiquewhite; */
  margin: 0 auto;
  width: 393px;
  height: 852px;
  position: relative;
}
#container > #back{
  position: absolute;
  top: 5px; left: 0;
}
#container > #done{
  position: absolute;
  top: 5px; right: 0;
}
#container > #date{
  position: absolute;
  top: 90px; left: 156px;
 
}
#container > #date > input{
  height: 20px;
  border: none;
  cursor: pointer;
  
}
#container >#mp{
  position: absolute;
  top: 45px; left: 113.5px;
}
input[type="radio"]{
  display: none;
}
.buttons > .minus,.plus{
overflow: hidden;
}
.buttons > .minus{
  background-color: lightgray;
  width: 84px; height: 35px;
  padding: 8.5px;
  float: left;
  display: block;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}
.buttons > .plus{
  background-color: lightgray;
  width: 84px; height: 35px;
  padding: 8.5px;
  float: left;
  display: block;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

#tab1:checked ~ #mp > .buttons > .minus{
  background-color: lightcoral;
  color: aliceblue;
}
#tab2:checked ~ #mp > .buttons > .plus{
  background-color: lightcoral;
  color: aliceblue;
}

#container > .mtab > h4{
  text-align: left;
  margin: 5px 0 10px 0;
  font-size: 12px;
}
#container > .mtab{
  position: absolute;
  top: 135px; left: 36px;
}
#container > .mtab2 > h4{
  text-align: left;
  margin: 5px 0 10px 0;
  font-size: 12px;
}
#container > .mtab2{
  position: absolute;
  top: 135px; left: 36px;
}
#container > .mtab,.mtab2{
  display: none;
}
#tab1:checked ~ .mtab{
  display: block;
}
#tab2:checked ~ .mtab2{
  display: block;
}
.cate{
  overflow: hidden;
}
.cate > li{
  float: left;  
}
.cate > li:hover{
  border: 3px solid lightgray;
  border-radius: 25px;
}
.cate > li  h5{
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;   
}
.cate > li  input[type="image"]{
  margin : 5px 15px;
}
#container > #money{
  position: absolute;
  top: 630px; left: 56px;
}
#money > input{
  width: 280px;
  height: 70px;
  font-size: 40px;
  border: none;
  background-color: transparent;
}
#container > #card{
  position: absolute;
  top: 710px; left: 37.5px;
}
#card{
  background-color: lightgray;
  padding: 10px 15px;
  border-radius: 25px;
}
.btn-card{
  overflow: hidden;  
}
.btn-card > label{
  float: left;
  margin: 0 10px;
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}
#credit:checked ~ div.btn-card > label:nth-child(1){
  background-color: lightcoral;
  padding: 4px 7px;
  border-radius: 50px;
  color: aliceblue;
}
#checkcard:checked ~ div.btn-card > label:nth-child(2){
  background-color: lightcoral;
  padding: 4px 7px;
  border-radius: 50px;
  color: aliceblue;
}
#cash:checked ~ div.btn-card > label:nth-child(3){
  background-color: lightcoral;
  padding: 4px 7px;
  border-radius: 50px;
  color: aliceblue;
}
#account:checked ~ div.btn-card > label:nth-child(4){
  background-color: lightcoral;
  padding: 4px 7px;
  border-radius: 50px;
  color: aliceblue;
}
#memo > h4{
  text-align: left;
  margin: 10px 0 10px 0;
  font-size: 12px;
}
#container > #memo{
  position: absolute;
  top: 755px; left: 25px;
}
#container > #memo > input{
  width: 343px;
  height: 50px;
  border: none;
  background-color: lightgray; 
}
