{% extends 'layout.html' %}
{% block style %}
{% endblock %}
{% block content %}
<div>
    <h1>기사</h1>
</div>
<h2 class="mt-5 mb-3">예약내역</h2>
<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">이메일</th>
            <th scope="col">이름</th>
            <th scope="col">서비스</th>
            <th scope="col">전화번호</th>
            <th scope="col">가격</th>
            <th scope="col">상태</th>
            <th scope="col">~</th>
        </tr>
        </thead>
        <tbody>
        {% for item in reservation %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{item.email}}</td>
            <td>{{item.name}}</td>
            <td>{{item.service}}</td>
            <td>{{item.tel}}</td>
            <td>{{item.payment_amount}}원</td>
            <td>{{item.status}}</td>
            <td><button class="pay btn btn-primary"
                        data-res-no="{{item.res_no}}">
                청소접수</button></td>
        </tr>
        {% endfor %}


{% endblock %}
{% block script %}
{% endblock %}