<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.9.0/axios.min.js" integrity="sha512-FPlUpimug7gt7Hn7swE8N2pHw/+oQMq/+R/hH/2hZ43VOQ+Kjh25rQzuLyPz7aUWKlRpI7wXbY6+U3oFPGjPOA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <h1>INDEX - {{title}}</h1>
    <div>
      <h1>파일 한개 올리기</h1>
      <!-- <form action="/upload" method="post" enctype="multipart/form-data"> -->
        <!-- <form action="" method="post" enctype="multipart/form-data"></form> -->

        <input type="file" name="image" id="file"/>
        <input type="text" name="title" id="title" />
        <button type="button" id="upload-btn">파일업로드</button>
      <!-- </form> -->
    </div>

    <script>
        const $btn = document.getElementById("upload-btn");
        const fileInput = document.getElementById('file')
        const textInput = document.getElementById('title')

        $btn.addEventListener("click", async () => {
            // 페이지 이동 없이 파일 업로드 하는 방법
        const formData = new formData();
        formData.append("image",fileInput.files[0]);
        formData.append("title",textInput.value);
        
        await axios.post('/upload', formData, {
            Headers:{
                'Content-type':'multipart/form-data'
            },
        });

        });

        
    </script>
</body>
</html>